<c-row ngPreserveWhitespaces>
  <c-col class="mb-1 text-lg-end">
    <app-creer-marque></app-creer-marque>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Liste des marques</strong>
      </c-card-header>
      <c-card-body>
        <table [hover]="true" [striped]="true" cTable>
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Libelle</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody *ngFor="let marque of this.marqueService.marques">
          <tr>
            <th scope="row">{{this.marqueService.marques.indexOf(marque) + 1}}</th>
            <td><img class="rounded-circle" cImg fluid ngSrc="{{marque.urlPhoto}}" width="50"
                     height="50" alt="IMG"/></td>
            <td>{{marque.libelle}}</td>
            <td class="text-right">
              <div class="btn-group-horizontal">
                <a (click)="affichierFormulaireModification(marque)" title="Modifier"
                   class="btn btn-info icon-actions-liste">
                  <svg cIcon name="cilPen"></svg>
                </a>
                <a (click)="this.supprimerMarque(marque)" title="Supprimer"
                   class="btn btn-danger icon-actions-liste">
                  <svg cIcon name="cilTrash"></svg>
                </a>
              </div>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<c-modal #modalFormulaireModification
         [visible]="formulaireModificationVisible"
         (visibleChange)="changementDeVisibilite($event)"
         [scrollable]="true"
         alignment="center"
         id="modalFormulaireModification">
  <c-modal-header>
    <h5 cModalTitle>Modifier Marque</h5>
    <button [cModalToggle]="modalFormulaireModification.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <c-container>
      <c-row class="justify-content-center">
        <c-col>
          <form [formGroup]="formulaireModifierMarque" class="was-validated"
                (change)="this.actualiserValeursFormulaire()" novalidate>
            <c-input-group class="mb-3">
              <span cInputGroupText>A</span>
              <input aria-describedby="basic-addon1"
                     aria-label="Libelle"
                     cFormControl
                     placeholder="Libelle"
                     formControlName="libelle"
              />
              <div *ngIf="formulaireModifierMarque.get('libelle')?.invalid &&
              this.formulaireSoumis &&
              (formulaireModifierMarque.get('libelle')?.dirty ||
              formulaireModifierMarque.get('libelle')?.touched)" class="text-danger">
                Le libelle est requis.
              </div>
            </c-input-group>
            <c-input-group class="mb-3">
              <input class="form-control" type="file" id="photoMarque"
                     aria-label="Image de la marque"
                     cFormControl
                     formControlName="photoMarque"
                     (change)="selectionDePhoto($event)"
                     accept="image/*"
              />
            </c-input-group>
            <c-card>
              <img rounded cImg fluid [src]="marqueActuel?.urlPhoto" alt="IMG"/>
            </c-card>
          </form>
        </c-col>
      </c-row>
    </c-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="modalFormulaireModification.id" cButton color="secondary">
      Fermer
    </button>
    <button cButton color="primary" (click)="this.modifierMarque()"
            [disabled]="!this.formulaireValide">Enregistrer
    </button>
  </c-modal-footer>
</c-modal>
